name: cron
on:
  schedule:
    - cron:  '*/10 * * * *'
  push:
    branches:
      - "master"

jobs:
  cron:
    name: cron
    runs-on: ubuntu-latest
    steps:
    - name: cron
      run: |
        TZ=UTC-9 date
        echo "hello"
