name: cron
on:
  schedule:
    - cron:  '*/15 * * * *'
  # push:
  #   branches:
  #     - "master"

jobs:
  cron:
    name: cron
    runs-on: ubuntu-latest
    steps:
    - name: cron
      run: |
        echo "hello"
